 /* Style buttons */
 .btnDelete {
    background-color: DodgerBlue; 
    border: none; 
    color: white;
    padding: 6px 16px; 
    font-size: 12px; 
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btnDelete:hover {
    background-color: RoyalBlue;
  } 